---
layout: default
---
<style>
  .cols  {
    width:100%;
    height:auto;
    display:inline-block;
  }
  .thumbnail {
    border:1px solid #cccccc;
    position: relative;
    width: 90vw;
    height: 90vw;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  .thumbnail img {
    max-width: unset;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }
  .thumbnail img.portrait {
    width: 100%;
    height: auto;
  }
  @media only screen and (min-width: 600px) {
    .cols  {
      width:33%;
      height:auto;
      display:inline-block;
    }
    .thumbnail {
      width: 215px;
      height: 215px;
    }
  }
</style>


<div class="post">
<h1>{{ page.title }}</h1>
<!--
{% for post in site.tags[page.tag] %}
    --><div class="cols text-center">
      <div class="thumbnail">
      <a href="{{ post.url }}">
        <img src="/assets/img/{{ post.title || replace: " ", "-" || downcase }}.jpg" class="drawing" alt=" {{ post.title }} illustration preview">
      </a>
    </div>
    <a href="{{ post.url }}" class="mb-1" style="display:none;">
      {{ post.title }}
    </a>
    <p class="mb-1">{{ post.description }}</p>
    </div><!--
{% endfor %}
-->
</div>

<script>
  var pics = document.querySelectorAll("img");
var pic;

for (i = 0; i < pics.length; i++) {
  pic = pics[i];
  if (pic.complete) {
    // The image is already loaded, call handler
    checkImage(pic);
  } else {
    // The image is not loaded yet, set load event handler
    pic.addEventListener("load", function() {
      checkImage(this);
    })
  }
}

function checkImage(img) {
  if (img.naturalHeight > img.naturalWidth) {
    img.classList.add("portrait")
  } else {
    img.classList.add("landscape")
  }
}
</script>
